@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(90deg, #024affde 50%, #f93 50%);
  background-size: cover;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  cursor: default;
  flex: 1;
  font-family: Lobster;
}
.clock-container {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.766);
  margin: 50px auto;
  margin-top: 10%;
  box-shadow: 0 0 15px #fff inset, 0 0 15px #000;
  position: relative;
  padding: 2rem;
  border: 20px solid #fff;
}
@media (max-width: 406px) {
  .clock-container {
    width: 350px;
    height: 350px;
    margin-top: 40%;
  }
  span[title="c"] {
    position: fixed;
    transform: none;
    bottom: 10px;
    rotate: 270deg;
    text-align: center;
  }
}
@media (max-height: 598px) {
  .round {
    display: none;
  }
}
.clock-face {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateY(-3px);
  background-image: url("./face.png");
  background-size: cover;
}
.clock-hands {
  width: 50%;
  height: 6px;
  background: transparent;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
#hour-h {
  background-color: #000;
  height: 10px;
}
#minute-h {
  background-color: #000658;
  line-height: 20px;
}
#sec-h {
  background-color: #f01;
}
.round {
  position: sticky;
  top: 48%;
  margin: auto;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: #000;
}
span [title="casio"] {
  position: fixed;
  top: 20%;
  left: 45%;
  font-size: 20px;
  color: #000000a9;
  cursor: default;
}
h6 {
  float: right;
  position: fixed;
  right: 112.5px;
}
span[title="c"] {
  transform: rotate(90deg);
  transform-style: flat;
  position: fixed;
  right: 20px;
  font-size: 20px;
}
